*{
    margin: 0;
    padding: 0;


}

header{
    height: 500px;
    width:100%;
    font-family: monospace;
    background-color: rgba(24, 42, 54)
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 40px;
    font-family: monospace;
}

video{
    width: 150%; 
    position: fixed;
    top: 0;
    z-index: -1; 
    opacity: 0.9;
    height: 171.4%;
}

.im1 {
    width: 700px;
    height: 500px;
    transition: 1.7s;
}

.im2 {
    width: 1000px;
    border-radius:20px;
    transition: 1.7s;
}






button {
    font-size:52px;
    background-color:rgba(24, 42, 54);
    height: 200px;
    position: relative;
    bottom: 80px;
    border-radius:20px;
    border: color rgb(161, 157, 157) double;
    margin:10px;
    position: relative;
    bottom: 200px;
    transition: 1.7s;
}

.dim {
    display: flex;
    flex-direction: row;
    transition: 1.7s;
}

h1 {
    font-size: 200px;
    color: rgb(227, 220, 220);

    transition: 1.7s;
}

p{
    color: rgb(227, 220, 220);
    font-size: 30px;

    transition: 1.7s;
}

h2{
    color: rgb(227, 220, 220);
    font-size: 50px;

    transition: 1.7s;
}

button {
    font-family: monospace;
    font-weight: bold;
    color: rgb(227, 220, 220);
    transition: 1.7s;
}

