    /* 2)შექმენი ღილაკი, რომელიც:

თავიდან იყოს ეკრანის ზემოთ(არ ჩანდეს საიტზე)

2 წამის შემდეგ დაიწყოს ჩამოსვლა

ჩამოვიდეს თავის ადგილას 1.5 წამში

მოძრაობა იყოს ease-out(რომ ნელა დაეშვას ლამაზად თავის ადგილზე)

ანიმაცია შესრულდეს ერთხელ

დასრულების შემდეგ დარჩეს ადგილზე და ზემოთ აღარ გაქრეს */
button{
    width: 200px;
    height: 200px;
    background-color:red ;
    animation-name: divch;
    animation-delay: 2s;
    animation-duration: 3.5s;
    animation-timing-function:ease-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;


}

@keyframes divch{
    from{
        background-color: yellow;
        border-radius: 5px ;
        border: 6px solid green;
        transform: translateY(-250px);
    }

    to{
        background-color: rgb(0, 0, 255);
        border-radius: 50% ;
        border: 7px double rgb(217, 0, 255);
        transform: translateY(700px);
    }
}