    /*6)შექმენი ბურთი (div):

მუდმივად ხტუნავს ზემოთ-ქვემოთ

ყოველ ხტომაზე ოდნავ იწელება (stretch effect - ანუ სიგანე ეზდება სიმაღლე უპატარავდება)

ფერი იცვლება ყოველი მიწაზე დაცემისას

მიწასთან შეხებისას მოძრაობა ცოტა ნელდება (effect-ით)


გაგრძელდეს უსასრულოდ
*/
div{
    width: 200px;
    height: 200px;

    background-color:red ;
    animation-name: divch;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function:ease-out;
    animation-iteration-count: infinite;


}

@keyframes divch{
    from{
        background-color: blue;
        opacity: 0;
        border-radius: 50%;
    }

    to{
        height: 100px;
        background-color: rgb(255, 0, 0);
        border-radius: 50%;
        transform: translateY(500px);
    }
}