
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color:  hsl(275, 100%, 97%);
    background-image: url(faq-accordion-main/assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Work Sans", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d1{
    width: 500px;
    border-radius: 13px; 
    background-color: azure;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.d2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h1{
    font-size: 50px;
}

.d3{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.lite-dv{
    display: flex;
}