body{
    height: 100vh;
    display: flex;
    gap: 100px;
}

.d1{

    height: 250px;
    width: 250px;
    background-image:url(1.png);
    background-repeat: no-repeat;
}

.d2{


    height: 400px;
    width: 200px;
    background-image:url(2.png);
    background-repeat: repeat;
}

.d3{

    height: 250px;
    width: 250px;
    background-image:url(3.png);
    background-repeat: repeat-x;
}

.d4{


    height: 400px;
    width: 200px;
    background-image:url(image.png);
    background-repeat: repeat-y;
}