* {
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(1, 34, 49);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    gap:20px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:solid 6px;
}

.dummygmailcom {
    background-color: #FFFBFC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 400px;
    width: 300px;
}

.merbikogaganidzegmailcom {
    background-color:#E74392;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 400px;
    width: 300px;
    border:black;
    color: rgb(245, 239, 239);
    flex-direction: column;
}

.burgersalad123 {
    background-color: #ffffffff;
    display: flex;
    padding: 10px;
    height: 400px;
    width: 300px;
    justify-content: center;
    flex-direction: column;
}