body {
    display: flex;
    align-items:center;
    height: 100vh;
    justify-content: space-between;
    background-color: black;
    font-weight: bolder;
    font-family: sans-serif;
}

.d1 {
    width:100px;
    height:100px;
    background-color: #fffb00;
    border-radius:50%;
    display: flex;
    align-items:center;
    justify-content: center;
    align-self: start;
}

.d2 {
    width:100px;
    height:100px;
    background-color: rgb(255, 136, 0);
    border-radius:15%;
    display: flex;
    align-items:center;
    justify-content: center;
    align-self: center;
}

.d3 {
    width:100px;
    height:100px;
    background-color: rgb(131, 5, 5);
    display: flex;
    align-items:center;
    justify-content:center;
    align-self: end;
}

