* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(8, 52, 62);
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: rgb(255, 255, 255);
    margin-right: 150px;
}

h2{
        color: rgb(255, 255, 255);
}