#container{
    display: flex;
    text-align: center;
    gap: 10px;
}
img{
    width:600px;
    height:400px;
}
img:hover{
    width:700px;
    height:500px;
    transition:0.7s;
}

#minicont{
    width:700px;
    text-decoration:wavy;
    text-align: justify;
}

body {
    text-align: center;
}

h1{
    font-family: fantasy;
    letter-spacing: 5px;
    border:double,gold;
}

h1:hover{
    padding: 20px;
    background-color: rgba(255, 153, 0, 0.837);
    transition: 0.7s;
}

p{
    font-family: sans-serif;
    letter-spacing: 5px;
    padding: 10px;
    border:double,gold;
}

button{
    font-family: sans-serif;
    letter-spacing: 3px;
    border:double,gold;
}
button:hover{
    background-color: rgba(255, 153, 0, 0.837);
    transition: 0.7s;
    padding: 20px;
}

p:hover{
    background-color: rgba(255, 153, 0, 0.837);
    transition: 0.7s;
    padding: 25px;
    border:double,gold;
}