body{
    height: 100vh;
    display: flex;

}


.d1{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 157);
    position: relative;
    top: 500px;
    left: 400px;
    z-index: -3;
    opacity: 60%;
}

.d2{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 191, 255);
    position: relative;
    top: 340px;
    left: 150px;
    z-index: -2;
    opacity: 60%;
}

.d3{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 188, 63);
    position: relative;
    top: 370px;
    left: 100px;
    z-index: -2;
    opacity: 60%;
}
