body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.d1 {
    margin: 0px;
    position: relative;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    border: solid;
    background-color: cyan;
}

div{
    margin: 50px;
    width: 700px;
    height: 900px;
    border: solid;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
}

.d2{
    margin: 0px;
    position: relative;
    bottom: 30px;
    background-color: brown;
    width: 200px;
    height: 200px;
}

.d3{
    background-color: rgb(21, 0, 255);
    width: 200px;
    height: 200px;
}

.s{
    transition: 0.7;
    background-color: rgb(0, 255, 0);
    width: 200px;
    height: 200px;
}

.s:hover{
    position: relative;
    top: 50px;
    left: 60px;
}

.b{
    position: absolute;
    bottom: 150px;
    right: 200px;
    background-color: rgb(255, 0, 179);
    width: 200px;
    height: 200px;
}

.d{
   position: relative; 
}

.l{
    background-color: rgb(255, 0, 247);
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    right: -70px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: rgba(0, 255, 255, 0.181);
}

.small1{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 370px;
    top: -50px;
    background-color:rgb(255, 255, 0);
}

.small2{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 370px;
    top: -50px;
    background-color:rgb(30, 0, 255);
}

.small3{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 370px;
    bottom: -50px;
    background-color:rgb(255, 0, 0);
}

.small4{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 370px;
    bottom: -50px;
    background-color:rgb(55, 255, 0);
}


/* 1)კომენტარის სახით ახსენით თუ რამდენის ახის position ტიპი ვისწავლეთ

ჩამოთვალე თიოეული ამთგანი და გვერდით მიუწერეთ ვრცლად თუ რას აკეთებენ ისინი და როგორ მუშაობენ

2)კომენტარის სახით ახსენით თუ რას აკეთებენ top,bottom,right,left კუვნილელებები

3)შექმენით ორი div, რომელსაც ექნება სიგანე და სიმაღლე და უკანა ფონის ფერი,პირველს წითელი მეორეს ლურჯი,დააშორე ეს დივები ერთმანეთს .

გამოიყენეთ position: relative და:

გადაადგილეთ ელემენტი მარჯვნივ 50px ით

გადაადგილეთ ელემენტი ქვემოთ 60px ით 

დააკვირდით იმ ფაქტს რომ ეს დივი შეიცვლის პოზიციას იქიდან სადაცც ის იმყოფებოდა

3)შექმენით ორი div ზედიზედ მიეცით ზომები და სხვადასხვა ფონის ფერი.
მეორე div-ზე გამოიყენეთ position: relative და:

ოდნავ ასწიეთ ზემოთ (-40px)

დააკვირდით, რომ პირველი div თავის ადგილზე რჩება და მხოლოდ მეორე დივი მოძრაობს

4)შექმენით div მიეცით ზომები ,ფონის ფერიც და გამოიყენეთ:

position: relative

გამოიყენეთ :hover რათა:
ამ დივთან რომ მიიტანთ მაუსს ეს დივი ჩამოვიდეს ზემოდან ქვემოთ 50პხ ით და გაიწიოს მარჯვნივ 60პხ ით


5)შექმენით div მიეცი ფერი და ზომები და გამოიყენეთ:

position: absolute

bottom 150px და right 200px

დააკვირდით, საიდან იცვლის პოზიციას ელემენტი.ასევე ახსენი კომენტარის სახით ეს ყველაფერი

6)შექმენით ორი div ერთი მშობელი(მიეცი ზომები 500px 500px და ბორდერი)  მეორე დივს მიეცი ზომები 100px 100px და უკანა ფონის ფერი მწვანე:

მშობელს (parent) მიეცით position: relative

შვილს (child) მიეცით position: absolute

და:

მოათავსეთ შვილი(child) მშობლის მარჯვენა ქვედა კუთხეში 

კომენტარის სახით ახსენით თუ რა მოხდა და როგორ მუშაობს ეს ყველაფერი
radgan mshobels relativi aqvt childsis absolutii relativi xdeba
7)შექმენით ერთი parent div და შიგნით 4 პატარა div.
ყველა პატარა div იყოს position: absolute ,  მშობელი კი relative, და დივები განალაგე:

ერთი დივი ზედა მარცხენა

მეორე დივი ზედა მარჯვენა

მესამე დივი ქვედა მარცხენა

მეოთხე დივი ქვედა მარჯვენა კუთხეში. */