/* 1)შექმენით დივი რომელსაც აქვს ზომები და წითელი ფერი,შენი დავალებაა რომ შენი დივი

0% ზე არ ქონდეს სტილები(ანუ ქონდეს ცსს ში მიცემულის სტულები)

25% ზე დივმა შეიცვალოს გახდეს მწვანე ფერის.მომრგვალდეს 10px ით და გაუჩნდეს ყვითელი ფერის ბორდერი

50% ზე დივმა შეიცვალოს გახდეს ყვითელი ფერის.მომრგვალდეს 30PX ით და გაუჩნდეს მწვანე ბორდერი,ასევე გადავიდეს მარჯვნივ 300PX ით

75% ზე დივმა შეიცვალოს გახდეს იასამნისფერი,მომრგვალდეს 50პხ ით და გაუჩნეს წითელი ბორდერი,ასევე დატრიალდეს 180deg ით

და ბოლოს 100% ზე დივმა შეიცვალოს გახდეს სტაფილოსფერი,მომრგვალდეს კუთხეები 50%ით და გაუჩნდეს ლურჯი ბორდერი ---- ანიმაცია რომ მორჩება დივმა შეინარჩუნოს 100% ზე მიღებული სტილები და საწყის სტილებს აღარ დაუბრუნდეს */

.sun{
    background-color: rgb(255, 255, 0);
    width: 200px;
    height: 200px;
    animation-name: divch;
    animation-direction: alternate;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;


}

@keyframes divch{
    0%{
        
    }

    25%{
        background-color: rgb(17, 255, 0);
        border: 7px double rgb(255, 247, 0);
    }

    50%{
        background-color: rgb(255, 251, 0);
        border-radius: 30px ;
        border: 7px double rgb(51, 255, 0);
        transform: translatex(300px);
    }

    75%{
        background-color: rgb(255, 0, 255);
        border-radius: 50px ;
        border: 7px double rgb(255, 0, 0);
        transform: rotate(180deg)
    }

    100%{
        background-color: rgb(255, 132, 0);
        border-radius: 50% ;
        border: 7px double rgb(8, 0, 255);
        transform: rotate(180deg)
    }
}