div{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 20px, solid;
    border-radius: 50%;
    transition: 2s;
}

.d1:hover {
    background-color: blue;
}

.d2:hover {
    background-color: red;
    transition-delay: 0.5s;
}

.d3:hover {
    background-color: yellow;
    transition-delay: 1s;
}
/* 1)შექმენი <div> ბლოკი.
Hover-ზე შეიცვალოს:

background-color

width

გამოიყენე transition ისე, რომ ცვლილება იყოს გლუვი (ყველაფერი 1s ში).


2)შექმენი ღილაკი.
Hover-ზე შეიცვალოს:

background-color

color

გააკეთე ისე, რომ ორივე property ერთდროულად და smooth-ად შეიცვალოს.


3)შექმენი ბლოკი.
Hover-ზე:

width შეიცვალოს 0.5s-ში

height შეიცვალოს 1.5s-ში

4)შექმენი 4 ბლოკი, თითოეულს მიეცი განსხვავებული timing-function:

ease

linear

ease-in

ease-out

Hover-ზე ყველა გადაადგილდეს მარჯვნივ 4 წამში.

დააკვირდი განსხვავებებს


5)შექმენი ბარათი (card).
Hover-ზე:

გაიზარდოს (scale)

ოდნავ შემოტრიალდეს (rotate)

ყველაფერი იყოს smooth transition-ით.

6)შექმენი ბლოკი border-ით.
Hover-ზე border-color შეიცვალოს ნელა.


7)შექმენი ჰედერი და შიგნით ნავიგაციის მენიუ,დაალაგე ელემენტები ლამაზად.
Hover-ზე:

ტექსტის ფერი შეიცვალოს

underline(წითელი) ეფექტი გაჩნდეს smooth transition-ით

8)შექმენი პატარა წრე (50x50) ფერი მიეცი წითელი.
Hover-ზე გაიზარდოს 150x150-მდე(3s) და ფერი შეეცვალოს (5s)ლურჯად.


9)შექმენი ბარათი.
Hover-ზე ერთდროულად შეიცვალოს:

background-color

border-radius

transform (scale)

ყველა განსხვავებული duration-ით.

10)შექმენი 3 ერთმანეთის გვერდით მდგომი ბლოკი.
Hover-ზე:

პირველი დაიწყოს მაშინვე

მეორე 0.5s delay-ით

მესამე 1s delay-ით */