* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    opacity: 0.30;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    color: #ffa200;
}


body {
    text-align: center;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    height:100vh;

}


section {

    bottom : 0;
    position: fixed;
    background-color:rgba(80, 81, 78, 0.827);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}



.qew1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url(6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    backdrop-filter: blur (100px);
}

.qaz h1{
    font-size: 2rem;
    color: #ffffff;
    opacity: 99200;
}

h1{
    font-size: 2rem;
    color: #ffffff;
    opacity: 99200;
}

.qaz p {
    max-width: 40%;
    color: #ffa200;
}

.qaz{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

video{ 
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: -1; 
    opacity: 0.5;
    height: 150%;
    position: relative;
    top: 1000px;
}


