* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: sans-serif;

}

main {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}

.qwerty {
    position: sticky;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: start;
    padding: 20px;
    text-align: justify;
}
div h1{
    font-size: 3rem;
}

div p {
    font-size: 1.4rem;
    max-width: 40%;
}

.imgs {
    gap: 150px;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 300px;
    gap: 50px;
    padding: 20px;
}

.qwertyu {
    color: white;
    bottom : 0;
    position: fixed;
    background-color:rgba(81, 83, 77, 0.759);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

button {
    opacity: 0.30;
    border-radius: 20px;
    width: 100px;
    height: 50px;
}



.qwe{ 
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: -1; 
    opacity: 0.5;
}

.img{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    border-radius:30px;
    gap: 20px;
}