body{
    height: 100vh;
}

div{
    width: 500px;
    height: 500px;
    background-image: url(image.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    border: solid;
}